@media (min-width: 390px) and (max-width: 798px) {
    #default_header {
        width: 100%;
        gap: 226px;
        background-color: #f2e9d8;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        transition: transform 0.3s ease;
        align-items: center;
        z-index: 9999;
    }

    .Top_navigation_bar {
        display: flex;
        height: 76px;
        justify-content: center;
        align-items: center;
    }

    .Top_navigation_bar nav {
        display: none;
    }

    .Top_navigation_bar > img {
        width: 92px;
        height: 28px;
    }

    #menu_button {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        width: 32px;
        height: 32px;
    }

    #side_menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 289px;
        background: #263140;
        transform: translateX(100%); /* 메뉴를 오른쪽 밖에 위치시킵니다. */
        transition: transform 0.3s ease; /* 애니메이션 설정 */
        display: flex;
        z-index: 9999;
    }

    #side_menu.active {
        display: flex;
        transform: translateX(0);
    }

    #close_menu_button {
        display: flex;
        color: white;
        position: absolute;
        width: 32px;
        height: 32px;
        top: 22px;
        left: 20px;
    }

    #side_menu ul {
        display: flex;
        gap: 30px;
        flex-direction: column;
        margin: 120px 0 0 50px;
    }

    #side_menu li {
        font-family: Pretendard;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        color: #ffffff;
    }

    #default_download_btn {
        width: 114px;
        height: 40px;
        border-radius: 40px;
        background: #d97652;
        font-family: Pretendard;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        text-align: center;
        color: #ffffff;
        margin: 50px 0 0 40px;
    }

    /* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

    #top_btn {
        position: fixed;
        right: 24px;
        bottom: 19px;
        z-index: 9999;
        width: 40px;
        height: 40px;
        border: 1px solid #c4c4c4;
        border-radius: 50%;
        background: #ffffffcc;
        background-image: url(./keyboard_arrow_down.png);
        background-position: center center;
        background-repeat: no-repeat;
    }

    #top_btn:hover {
        background-image: url(./keyboard_arrow_up.png);
    }

    /* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

    footer {
        display: flex;
        flex-direction: column;
        height: 178px;
        /* width: 100%; */
        justify-content: center;
        gap: 58px;
        padding: 30px 0 24px 20px;
        position: relative;
    }

    footer > img {
        width: 112px;
        height: 34px;
    }

    #default_footer {
        display: flex;
        gap: 16px;
    }

    #default_footer a {
        display: flex;
        background-color: #f29d52;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
    }
    #default_footer a > img {
        width: 18.29px;
        height: 18.29px;
    }

    #mobile_footer {
        position: absolute;
        height: 120px;
        width: 84px;
        bottom: 30px;
        right: 21px;
    }

    #mobile_footer ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    #mobile_footer a {
        font-family: Pretendard;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: right;
        color: #767676;
    }
}
