html {
    font-family: "Pretendard" !important;
    color: #000000 !important;
}

h1 {
    font-size: 48px !important;
    font-weight: 700 !important;
    line-height: 60px !important;
    align-items: center !important;
}

h2 {
    font-size: 36px !important;
    font-weight: 700 !important;
    line-height: 45px !important;
}

p {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    align-items: center;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

header {
    display: flex;
    flex-direction: column;

    height: 902px;
    background-color: #f2e9d8;
}

header button {
    text-align: center;

    width: 140px;
    height: 50px;
    border-radius: 40px;
    font-weight: 700;
    line-height: 19.09px;

    background-color: #d97652;
    color: #ffffff;
}

header section {
    margin: 0 320px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

.Top_navigation_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 102px;
    background-color: #f2e9d8;
}

header nav {
    display: flex;
    align-items: center;

    gap: 49px;
}

header nav ul {
    display: flex;
    justify-content: center;
    text-align: left;

    gap: 15px;
}

.Middle_content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    background-image: url("./Logo_cat.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
}

/* 예시와 같게 하기 위해 width를 695px -> 750px으로 변경 */
.Middle_content > h1 {
    display: flex;

    width: 750px;
    height: 120px;
}

/* 예시와 같게 하기 위해 width를 420px -> 450px으로 변경 */
.Middle_content > p {
    display: flex;

    width: 450px;
    height: 86px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

main > section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 320px;
    padding: 0;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

.First_section {
    flex-direction: row;
    margin-top: 80px;
    gap: 110px;
}

.First_section > div {
    display: flex;
    flex-direction: column;

    width: 510px;
    gap: 30px;
}

.First_section > img {
    width: 660px;
    height: 390px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0px #00000040;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

.Second_section {
    margin-top: 120px;
}

.Second_section > h1 {
    color: #d97652;
}

.Second_section > p {
    text-align: center;

    margin-top: 40px;
}

.Second_section span {
    color: #d97652;

    font-weight: 700;
}

.Second_section > div {
    display: flex;
    align-items: center;

    width: 1280px;
    gap: 73px;
}

.Second_section img {
    width: 378px;
    height: 378px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0px #00000040;
}

.Second_section_div1 {
    margin-top: 88px;
}

.Second_section_div2 {
    margin-top: 72px;
}

.Second_section > h3 {
    text-align: center;

    margin-top: 100px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.Second_section > button {
    text-align: center;

    margin-top: 28px;
    width: 143px;
    height: 50px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;

    background: #d97652;
    color: #ffffff;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

hr {
    color: #c4c4c4;
    margin: 80px 320px 0px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

.Third_section {
    margin-top: 68px;
    align-items: flex-start;
}

.Third_section > h2 {
    text-align: left;
}

.Third_section > p {
    margin: 20px 0 48px;
    font-weight: 500 !important;
}

#daumRoughmapContainer1724052626418 {
    width: 1280px;
    height: 520px;
    border-radius: 12px;
}

.subscribe {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 163px;
    margin-top: 80px;
    width: 1280px;
    height: 200px;
    border-radius: 30px;
    background: #263140;
    color: #ffffff;
    z-index: 100;
}
.text h2 {
    margin-bottom: 18px;
}

.text > p {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 530px;
    height: 60px;
    border-radius: 60px;
    background: #ffffff;
}

.email > input {
    height: 55px;
    width: 312px;
    border-radius: 60px;
    border: none;
    background: url("mail.png") no-repeat 10px center;
    background-size: 20px;
    background-position: 28px center;
    padding-left: 68px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.email > input:focus {
    outline: none;
}

.email > button {
    width: 135px;
    height: 50px;
    border-radius: 40px;
    background: #d97652;
    font-weight: 700 !important;
    text-align: center;
    color: #ffffff;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
